<main layout="column" flex class="w-full md:h-screen">
    <navbar></navbar>

    <div layout="row" flex>
        <div class="w-20 bg-gray-200" ng-class="{'hidden': $ctrl.isSmaller('1000px')}">
            <div class="w-full h-full flex justify-start flex-col">
                <div ng-repeat="cat in $ctrl.cats">
                    <div class="flex flex-col flex-initial items-center">
                        <md-button class="md-button" style="margin:0; padding:4px"
                            ng-click="$ctrl.filter_types('Müzik', null)">
                            <md-icon md-svg-icon="{{cat.icon}}"></md-icon>
                            <p class="text-xs font-normal normal-case">{{cat.type}}</p>
                        </md-button>
                    </div>
                </div>

            </div>
        </div>
        <md-content class="w-full">
            <div ng-view autoscroll="false"></div>
        </md-content>

    </div>
</main>