<meta meta charset=utf-8>
<md-toolbar md-scroll-shrink class="md-hue-2 top-0 h-16 z-40" style="height: 3.5rem">
  <div class="md-toolbar-tools" style="max-height: 3.5rem; height: 3.5rem; margin: auto">
    <!--hamburger ve site ismi-->
    <div class="flex flew-row">
      <div class="mr-4" ng-class="{'hidden': $ctrl.isSmaller('768px')}">
        <md-button class="md-icon-button" ng-click="$ctrl.toggleLeft()">
          <md-icon md-svg-icon="{{$ctrl.icon.hamburger}}" class="favorite-icon"></md-icon>
        </md-button>
      </div>
      <div class="self-center">
        <a href="#!/">
          <h2 class="my-auto">Aktivist</h2>
        </a>
      </div>

    </div>

    <!--arama çubuğu-->
    <div class="flex-grow h-full px-8 lg:px-40" ng-if="!$ctrl.isSmaller('768px')">

      <div class="h-full flex flex-row">
        <div class="flex-grow">
          <md-input-container class="w-full">
            <input ng-model="$ctrl.hello" />
          </md-input-container>
        </div>

        <div class="self-center">
          <a href="#!/arama">
            <md-button class="md-icon-button">
              <i class="material-icons">search</i>
            </md-button>
          </a>
        </div>
      </div>
<!---->


    </div>

    <!-- arama icon -->
    <div ng-class="{'hidden': !$ctrl.isSmaller('768px')}">
      <md-button class="md-icon-button" aria-label="Favorite" ng-click="$ctrl.toggleSearch()">
        <md-icon class="favorite-icon">
          <i class="material-icons">search</i>
        </md-icon>
      </md-button>
    </div>

    <!--sidenav for mobile-->
    <div ng-class="{'hidden': !$ctrl.isSmaller('768px')}">
        <md-button class="md-icon-button" aria-label="Favorite" onclick = "toggleFullScreen()" ng-click="$ctrl.resize()">
          <md-icon md-svg-icon="{{$ctrl.resizeicon}}" class="favorite-icon"></md-icon>
        </md-button>
      </div>

    <div ng-class="{'hidden': !$ctrl.isSmaller('768px')}">
      <md-button class="md-icon-button" aria-label="Favorite" ng-click="$ctrl.toggleLeft()">
        <md-icon md-svg-icon="{{$ctrl.icon.hamburger}}" class="favorite-icon"></md-icon>
      </md-button>
    </div>

    <!--giriş yap kaydol kısmı-->
    <ul class="inline-flex justify-end" ng-class="{'hidden': $ctrl.isSmaller('768px')}">
      <li class="mr-3">
        <md-menu md-offset="-20 2" md-position-mode="target-right bottom">
          <!-- Trigger element is a md-button with an icon -->
          <md-button ng-click="$mdMenu.open($event)">
            GİRİŞ YAP
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <div>
                <md-input-container>
                  <label>Kullanıcı adı</label>
                  <input>
                </md-input-container>
              </div>
            </md-menu-item>
            <md-menu-item class="mt-4">
              <div>
                <md-input-container>
                  <label>Şifre</label>
                  <input type="password">
                </md-input-container>
              </div>

            </md-menu-item>
            <md-menu-item class="mt-4">
              <md-button class="md-button text-center">
                Giriş
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </li>

      <li class="mr-3">
        <md-button>
          Kayıt ol
        </md-button>
      </li>
    </ul>

  </div>
</md-toolbar>

<!--search part for mobile-->
<md-toolbar class="md-hue-2 fixed top-0 z-40" ng-if="$ctrl.isSearchOpen">
  <div class="md-toolbar-tools" style="max-height: 3.5rem; height: 3.5rem">
    <div class="flex flex-row h-full items-center">
      <div class="w-2/12">
        <md-button class="md-icon-button inset-auto" ng-click="$ctrl.toggleSearch()">
          <i class="material-icons">arrow_back</i>
        </md-button>
      </div>


      <div class="w-8/12 self-start h-full">
        <md-input-container md-no-float class="md-block">
          <input ng-model="user.address" type="text" placeholder="Etkinlik ara..." aria-label="Address">
        </md-input-container>
      </div>

      <div class="w-2/12">
        <a href = "#!/arama">
          <md-button class="md-icon-button">
            <i class="material-icons">search</i>
          </md-button>
        </a>
        
      </div>


    </div>
  </div>

</md-toolbar>

<!--sidenav-->
<md-sidenav class="md-sidenav-left fixed top-0" md-component-id="left" md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
  </md-toolbar>

  <md-content layout-margin="">



    <div class="w-full">
      <div class="flex flex-col flex-wrap scrolling-touch justify-between">
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 100% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Konserler</p>
          </md-button>

        </div>
        <div class="h-px bg-gray-500 mb-1"></div>

        <div class="w-full text-center self-center mr-4 p-1">
            <md-button class="md-button flex flex-row"
              style="display: flex !important; width: 80% !important; margin: auto !important">
              <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
              <p class="self-center ml-8">Alt başlık</p>
            </md-button>
  
          </div>
          <div class="w-full text-center self-center mr-4 p-1">
            <md-button class="md-button flex flex-row"
              style="display: flex !important; width: 80% !important; margin: auto !important">
              <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
              <p class="self-center ml-8">Alt başlık</p>
            </md-button>
  
          </div>
          <div class="w-full text-center self-center mr-4 p-1">
            <md-button class="md-button flex flex-row"
              style="display: flex !important; width: 80% !important; margin: auto !important">
              <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
              <p class="self-center ml-8">Alt başlık</p>
            </md-button>
  
          </div>

          
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 100% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.theater}}" style="margin: 0px !important"></md-icon>
            <p class="self-center ml-8">Tiyatrolar</p>
          </md-button>

        </div>
        <div class="h-px bg-gray-500 mb-1"></div>

        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 80% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Alt başlık</p>
          </md-button>

        </div>
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 80% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Alt başlık</p>
          </md-button>

        </div>
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 80% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Alt başlık</p>
          </md-button>

        </div>

        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 100% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.movie}}" style="margin: 0px !important"></md-icon>
            <p class="self-center ml-8">Filmler</p>
          </md-button>

        </div>
        <div class="h-px bg-gray-500 mb-1"></div>
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 100% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.museum}}" style="margin: 0px !important"></md-icon>
            <p class="self-center ml-8">Müzeler</p>
          </md-button>

        </div>
        <div class="h-px bg-gray-500 mb-1"></div>
      </div>
    </div>


  </md-content>

</md-sidenav>