<meta meta charset=utf-8>
<md-toolbar md-scroll-shrink class="md-hue-2 top-0 h-16 z-40" style="height: 3.5rem">
  <div class="md-toolbar-tools" style="max-height: 3.5rem; height: 3.5rem; margin: auto">
    <!--hamburger ve site ismi-->
    <div class="flex flew-row bg">
      <div class="mr-4" ng-class="{'hidden': $ctrl.isSmaller('768px')}">
        <md-button class="md-icon-button" ng-click="$ctrl.toggleLeft()">
          <md-icon md-svg-icon="{{$ctrl.icon.hamburger}}" class="favorite-icon"></md-icon>
        </md-button>
      </div>
      <div class="self-center">
        <a href="#!/">
          <h2 class="my-auto">Aktivist</h2>
        </a>
      </div>

    </div>



    <!--arama çubuğu-->
    <div class="flex-grow h-full px-8 lg:px-40 " ng-if="!$ctrl.isSmaller('768px')" id="search-large">

      <div class="self-start h-full p-2 px-1">
        <md-content overflow="hidden" class="h-full flex flex-row items-center rounded-lg">
          <div flex="auto" class="p-0">
            <md-input-container md-no-float class="md-block m-0 items-center md-errors-spacer">
              <input ng-model="$ctrl.searchText" ng-change="$ctrl.change($ctrl.searchText)">
            </md-input-container>
          </div>

          <div class=" self-center bg-indigo-200">
            <a href="#!/arama">
              <md-button class="md-icon-button" ng-click="$ctrl.search()">
                <i class="material-icons">search</i>
              </md-button>
            </a>
          </div>
        </md-content>

        <div class="relative w-full bg-gray-300" style="top: 0.5rem" ng-if="$ctrl.searchResults.length != 0">
          <md-list flex layout="column">

            <div ng-repeat="result in $ctrl.searchResults">
              <a href="#!/etkinlik/{{result.instance_id}}" >
                <md-list-item class="md-2-line" ng-click="null">

                  <div class="md-list-item-text" layout="column">
                    <h3>{{result.name}}</h3>
                    <p>{{result.city}}</p>
                  </div>
              </a>
              </md-list-item>

            </div>

          </md-list>
        </div>

      </div>

    </div>

    <!---->




    <!-- arama icon -->
    <div ng-class="{'hidden': !$ctrl.isSmaller('768px')} ">
      <md-button class="md-icon-button " aria-label="Favorite" ng-click="$ctrl.toggleSearch()">
        <md-icon class="favorite-icon">
          <i class="material-icons">search</i>
        </md-icon>
      </md-button>
    </div>

    <div ng-class="{'hidden': !$ctrl.isSmaller('768px')} ">
      <md-button class="md-icon-button" aria-label="Favorite" ng-click="$ctrl.toggleLeft()">
        <md-icon md-svg-icon="{{$ctrl.icon.hamburger}}" class="favorite-icon"></md-icon>
      </md-button>
    </div>

    <!--giriş yap kaydol kısmı-->
    <ul class="inline-flex justify-end" ng-class="{'hidden': $ctrl.isSmaller('768px')}">
      <li class="mr-3">
        <md-menu md-offset="-20 2" md-position-mode="target-right bottom">
          <!-- Trigger element is a md-button with an icon -->
          <md-button ng-click="$mdMenu.open($event)">
            GİRİŞ YAP
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <div>
                <md-input-container>
                  <label>Kullanıcı adı</label>
                  <input>
                </md-input-container>
              </div>
            </md-menu-item>
            <md-menu-item class="mt-4">
              <div>
                <md-input-container>
                  <label>Şifre</label>
                  <input type="password">
                </md-input-container>
              </div>

            </md-menu-item>
            <md-menu-item class="mt-4">
              <md-button class="md-button text-center">
                Giriş
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </li>

      <li class="mr-3">
        <md-button>
          Kayıt ol
        </md-button>
      </li>
    </ul>

  </div>
</md-toolbar>


<!--search part for mobile-->
<div ng-if="$ctrl.isSearchOpen">
  <md-toolbar class="md-hue-2 fixed top-0 z-40">
    <div class="md-toolbar-tools" style="max-height: 3.5rem; height: 3.5rem">
      <div class="flex flex-row h-full items-center">
        <div class="w-2/12">
          <md-button class="md-icon-button inset-auto" ng-click="$ctrl.toggleSearch()">
            <i class="material-icons">arrow_back</i>
          </md-button>
        </div>


        <div class="w-10/12 self-start h-full p-2 px-1">
          <md-content overflow="hidden" class="h-full flex flex-row items-center rounded-lg">
            <div flex="auto">
              <md-input-container md-no-float class="md-block m-0 items-center md-errors-spacer px-1">
                <input type="text" placeholder="Etkinlik ara..." aria-label="Address" ng-model="$ctrl.searchText" ng-change="$ctrl.change($ctrl.searchText)">
              </md-input-container>
            </div>

            <div flex="initial" class="bg-indigo-200">
              <a href="#!/arama">
                <md-button class="md-icon-button" ng-click = "$ctrl.search()">
                  <i class="material-icons">search</i>
                </md-button>
              </a>
            </div>
          </md-content>



        </div>
      </div>
    </div>

    <div class="relative w-full bg-gray-300" style="top: 0.5rem" ng-if="$ctrl.searchResults.length != 0">
      <md-list flex layout="column">

        <div ng-repeat="result in $ctrl.searchResults">
          <a href="#!/etkinlik/{{result.instance_id}}" >
            <md-list-item class="md-2-line" ng-click="null">

              <div class="md-list-item-text" layout="column">
                <h3>{{result.name}}</h3>
                <p>{{result.city}}</p>
              </div>
          </a>
          </md-list-item>

        </div>

      </md-list>
    </div>

  </md-toolbar>
</div>


<!--sidenav-->
<md-sidenav class="md-sidenav-left fixed top-0" md-component-id="left" md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
  </md-toolbar>

  <md-content layout-margin="">



    <div class="w-full">
      <div class="flex flex-col flex-wrap scrolling-touch justify-between">
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 100% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Konserler</p>
          </md-button>

        </div>
        <div class="h-px bg-gray-500 mb-1"></div>

        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 80% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Alt başlık</p>
          </md-button>

        </div>
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 80% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Alt başlık</p>
          </md-button>

        </div>
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 80% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Alt başlık</p>
          </md-button>

        </div>


        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 100% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.theater}}" style="margin: 0px !important"></md-icon>
            <p class="self-center ml-8">Tiyatrolar</p>
          </md-button>

        </div>
        <div class="h-px bg-gray-500 mb-1"></div>

        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 80% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Alt başlık</p>
          </md-button>

        </div>
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 80% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Alt başlık</p>
          </md-button>

        </div>
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 80% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.concert}}" style="margin: 0px !important;"></md-icon>
            <p class="self-center ml-8">Alt başlık</p>
          </md-button>

        </div>

        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 100% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.movie}}" style="margin: 0px !important"></md-icon>
            <p class="self-center ml-8">Filmler</p>
          </md-button>

        </div>
        <div class="h-px bg-gray-500 mb-1"></div>
        <div class="w-full text-center self-center mr-4 p-1">
          <md-button class="md-button flex flex-row"
            style="display: flex !important; width: 100% !important; margin: auto !important">
            <md-icon md-svg-icon="{{$ctrl.icon.museum}}" style="margin: 0px !important"></md-icon>
            <p class="self-center ml-8">Müzeler</p>
          </md-button>

        </div>
        <div class="h-px bg-gray-500 mb-1"></div>
      </div>
    </div>


  </md-content>

</md-sidenav>