<div class="p-4 lg:w-10/12 mx-auto" layout="row" layout-sm="column" layout-wrap>
    <div class="container" flex="66" flex-sm="100" flex-xs="100">
        <md-card>
            <div class="h-56 md:h-72 xl:h-96 bg-gray-800"
                ng-style="{'background-image': 'url('+ $ctrl.event.image_url +')', 'background-repeat': 'no-repeat', 'background-position': 'center center', 'background-size': 'cover'}">
            </div>


            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{$ctrl.event.name}}</span>
                    <div layout="row">
                        <md-icon md-svg-icon="{{$ctrl.icon.sehir}}" style="margin: 0px !important;"></md-icon>
                        <p class="text-sm my-auto font-semibold"> : {{$ctrl.propertiesOfplace.city}}</p>
                    </div>

                </md-card-title-text>

            </md-card-title>
            <div class="h-px bg-gray-400 w-full my-2"></div>
            <md-card-content>
                <div ng-hide = "$ctrl.hideAllSelections">
                    <md-input-container>
                        <label>Tarih: </label>
                        <md-select ng-model="$ctrl.selectedDate" ng-change="$ctrl.filter_dates()">
                            <md-option data-ng-repeat="ins in uniqueDates = ($ctrl.instances | unique: 'date')" value="{{ins.date}}"
                                ng-selected="$ctrl.preset || uniqueDates.length == 1">
                                {{$ctrl.date_aygun(ins.date)}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Mekan: </label>
                        <md-select ng-model="$ctrl.selectedPlace" ng-change="$ctrl.filter_place()">
                            <md-option ng-repeat="ins in uniqueDays = ($ctrl.dayFiltered | unique: 'place')" ng-value="{id: ins.place, name: ins.place_name}"
                                ng-selected="$ctrl.preset || uniqueDays.length == 1">
                                {{ins.place_name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Zaman: </label>
                        <md-select ng-model="$ctrl.selectedTime" ng-change="$ctrl.filter_times()">
                            <md-option ng-repeat="ins in uniqueTimes = ($ctrl.placeFiltered | unique: 'time')" value="{{ins.time}}"
                                ng-selected="$ctrl.preset || uniqueTimes.length == 1">
                                {{$ctrl.time_saat(ins.time)}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row" layout-align = "start center">
                    <div layout="row" class="mr-2 font-semibold" ng-class = "{{}}">
                        <md-icon md-svg-icon="{{$ctrl.icon.mekan}}" style="margin: 0px !important;"></md-icon>
                        <p class="text-sm my-auto"> : {{$ctrl.selectedPlace ? $ctrl.selectedPlace.name : "Mekan seçiniz"}}</p>
                    </div>
                    <div layout="row" class="mr-2 font-semibold">
                        <md-icon md-svg-icon="{{$ctrl.icon.takvim}}" style="margin: 0px !important;"></md-icon>
                        <p class="text-sm my-auto"> : {{$ctrl.selectedDate ? $ctrl.date_aygun($ctrl.selectedDate) : "Tarih seçiniz"}}</p>
                    </div>
                    <div layout="row" class="mr-2 font-semibold">
                        <md-icon md-svg-icon="{{$ctrl.icon.saat}}" style="margin: 0px !important;"></md-icon>
                        <p class="text-sm my-auto"> : {{$ctrl.selectedTime ? $ctrl.time_saat($ctrl.selectedTime) : "Zaman seçiniz"}}</p>
                    </div>
                </div>
            </md-card-content>
            <div class="h-px bg-gray-400 w-full my-2"></div>
            <md-card-content>
                <h2 class = "text-xl font-medium" ><span ng-click = "$ctrl.toggle_aciklama()">Açıklama</span></h2>
                <div ng-if = "$ctrl.isAciklamaOpen" style="white-space: pre-line">
                    <div class="h-px bg-gray-400 w-full my-2"></div>
                    {{$ctrl.event.details}}
                </div>
            </md-card-content>
            <div class="h-px bg-gray-400 w-full my-2"></div>
            <md-card-content>
                <div layout="column">
                    <div flex="0" class="pt-1">
                        <h2 class="text-xl font-bold mb-3">Fiyatlar:</h2>
                        <div layout="column " layout-gt-sm="row" layout-align="start none"
                            layout-align-gt-sm="start center">
                            <div>
                                <md-input-container class="my-3 w-24">
                                    <label>Kategori: </label>
                                    <md-select ng-model="$ctrl.price_cat" ng-change = "$ctrl.filter_cat()">
                                        <md-option ng-repeat="fiyat in uniqueCats = ($ctrl.fiyatlar | unique: 'category')"
                                         ng-value="fiyat.category" ng-selected = "uniqueCats.length == 1">{{fiyat.category}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div ng-hide = "$ctrl.checkNull()">
                                <md-input-container>
                                    <label>Kampanya: </label>
                                    <md-select ng-model = "$ctrl.price_disc" ng-change = "$ctrl.filter_disc()">
                                        <md-option ng-repeat = "fiyat in uniqueDics = ($ctrl.cat_filtered | unique: 'price_discount')" 
                                        ng-selected = "uniqueDics.length == 1"
                                        ng-value = "fiyat.price_discount">
                                            {{fiyat.price_discount}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container class="my-3 w-24">
                                    <label>Alt kategori: </label>
                                    <md-select ng-model="$ctrl.price_subcat" ng-change = "$ctrl.filter_subcat()">
                                        <md-option ng-repeat="fiyat in uniqueSubcats = ($ctrl.cat_filtered | unique: 'subcategory')"
                                            ng-selected = "uniqueSubcats.length == 1"
                                            ng-value="fiyat.subcategory">
                                            {{fiyat.subcategory}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div>
                            <p class="text-xl px-1">{{$ctrl.get_pricestr($ctrl.selectedPrice)}}</p>
                        </div>
                    </div>
                </div>
            </md-card-content>


            <md-card-actions layout="row" layout-align="space-between center">
                <a href="{{$ctrl.selectedInstance.url}}" target = "_blank">
                    <md-button>BİLET AL</md-button>
                </a>

                <md-card-icon-actions layout = "row" layout-align = "end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <i class="material-icons">favorite</i>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                        <i class="material-icons">share</i>
                    </md-button>

                </md-card-icon-actions>
            </md-card-actions>
        </md-card>
    </div>
    <div class="" flex="33" flex-sm="100" flex-xs="100">
        <md-card>
            <img ng-src="{{$ctrl.act.url}}" class="md-card-image" alt="Washed Out">


            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Reklamlaar</span>
                    <span class="md-subhead">666/666/666</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <p>
                    Ya bu nasıl gruptur. Bu nasıl gruptur manyak müzik yapıyolar ya adamlar. Kesinlikle 1000 tl
                    vermelisin
                    bu konser için.
                </p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button>Detay</md-button>

                <md-card-icon-actions>
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <i class="material-icons">favorite</i>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                        <i class="material-icons">share</i>
                    </md-button>

                </md-card-icon-actions>
            </md-card-actions>
        </md-card>
    </div>
</div>