<div class="h-auto lg:float-right w-3/5  mx-auto md:sticky md:top-0" ng-cloak>
    <md-card class="md-padding">
        <md-content class="bg-white">
            <div>
            <md-input-container>
                <input ng-model = "$ctrl.filter_query" placeholder="{{$ctrl.searchMessage}}" type = "text"/>
            </md-input-container>
                
            </div>
            
            <div class="flex flex-row py-1">
                <md-checkbox name = "baslangic" ng-model = "$ctrl.isBasla" aria-label = "checkbox-date-start"></md-checkbox>
                <h4 class="px-1">Başlangıç</h4>
            </div>

            <md-datepicker ng-if = "$ctrl.isBasla" ng-model="$ctrl.myDateStart" md-placeholder="Tarih seçin"></md-datepicker>

            <div class="flex flex-row py-1">
                <md-checkbox name = "baslangic" ng-model = "$ctrl.isBitis" aria-label = "checkbox-date-end"></md-checkbox>
                <h4 class="px-1">Bitiş</h4>
            </div>

            <md-datepicker ng-if = "$ctrl.isBitis" ng-model="$ctrl.myDateEnd" md-placeholder="Tarih seçin"></md-datepicker>
        </md-content>
        <md-input-container>
            <label>Kampanya seç</label>
            <md-select ng-model = "$ctrl.selectedDiscount">
                <md-option value = "NONE" ng-selected = "$ctrl.selectedDiscount == 'NONE'">Farketmez</md-option>
                <md-option value = "tav" ng-selected = "$ctrl.selectedDiscount == 'tav'">TAV kart</md-option>
                <md-option value = "lale" ng-selected = "$ctrl.selectedDiscount == 'lale'">LALE kart</md-option>
                <md-option value = "1alana1bedava" ng-selected = "$ctrl.selectedDiscount == '1alana1bedava'">1 Alana 1 Bedava</md-option>
                <md-option value = "hopi" ng-selected = "$ctrl.selectedDiscount == 'hopi'">Hopi</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="py-1">
            <label>Şehir Seç</label>
            <md-select ng-model="$ctrl.cityState" md-on-close="$ctrl.clearSearchTerm()" layout="column">
                <div class="w-auto m-2" layout="row" >       
                <md-select-header flex="full">
                            <input  flex="full" ng-model="$ctrl.cityInput" placeholder="Şehir ara..." onkeydown="event.stopPropagation()" class="px-6 py-2 border border-black">
                        </md-select-header>
                    </div>
                        <md-optgroup >
                            <md-option ng-value = "'NONE'">Tüm şehirler</md-option>
                            <md-option ng-value="city" ng-repeat="city in $ctrl.cities |
                                filter:$ctrl.cityInput">{{city}}</md-option>
                        </md-optgroup>
                </md-select>
            <div class = "text-center">
                <md-button class = "md-button md-primary" ng-click = "$ctrl.filter()">
                    uygula
                </md-button>
            </div>
           
        </md-input-container>
        
    </md-card>
</div>