<div class="h-auto lg:float-right w-4/5 xs:w-9/12 sm:w-9/12 mx-auto">
    <md-card class="md-padding">
        <md-content class="bg-white">
            <div>
                <md-contact-chips ng-model="$ctrl.startContacts" 
                md-min-length="0"
                md-contacts="$ctrl.querySearch($query)" 
                md-contact-name="name" 
                md-contact-image="image"
                md-require-match="true"
                placeholder="Kategori Seç">
                </md-contact-chips>
            </div>
            <div class="py-1">
                <h4 class="px-1">Başlangıç</h4>
                <md-datepicker ng-model="$ctrl.myDate" md-placeholder="Tarih seçin"></md-datepicker>
            </div>

            <div class="py-1">
                <h4 class="px-1">Bitiş</h4>
                <md-datepicker ng-model="ctrl.myDate2" md-placeholder="Tarih seçin"></md-datepicker>
            </div>
        </md-content>


        <md-input-container class="py-1">
            <label>Şehir Seç</label>
            <md-select ng-model="ctrl.cityState">
                <md-select-header class="city_header">
                        <!--implement search func for cities-->
                        <input  ng-model="searchTerm"  
                                type="search"
                                placeholder="Şehir ara..."
                                class="city_header-searchbox md-text">
                </md-select-header>
                <md-option><em>Tüm Şehirler</em></md-option>
                <md-option ng-repeat="city in ctrl.cities" ng-value="city.abbrev" ng-disabled="$index === 1">
                {{city.abbrev}}
                </md-option>
            </md-select>
        </md-input-container>
    </md-card>
</div>